
header {
    background-image: url('C:\Users\Ecotech\Documents\JPLA-MindHub\MYintinerary\src\resources\MYtineraryLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vh;
    margin-top: -10%;
  }