
header {
  background-image: url('./resources/MYtineraryLogo.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 125px;
  /* border:dashed; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#motto{
  display: flex;
  /* border: dashed; */
  justify-content: center;
}

#centerLogo{
  display: flex;
  height: 25vh;
  justify-content: center;
}